

p {
    font-family: 'Mitr', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 3px 2px dimgrey;
}

p1 {
    font-family: 'Mitr', sans-serif;
    font-size: 22px;
    color: whitesmoke;
    text-shadow: 3px 2px dimgrey;
}

#backButton{
    font-size: 18px;
}